{% extends 'base.html' %}
{% block title %}Job Postings{% endblock title %}

{% block content %}
  <h1>Django Job Postings App</h1>
  <hr>

  <h2>Job Postings</h2>

  {% for job in object_list %}
    <div class="card">
      <div class="card-header">
        <a href="{% url 'job_detail' job.pk %}"><i class="fa fa-file"></i> </a><span class="font-weight-bold">{{ job.title }}</span>  &middot;
        <br>
         <i class="fa fa-calendar"></i> {{ note.created }}</span>
      </div> 
    </div>
    <br />

    
  {% endfor %}

  {% if is_paginated %}
    <nav aria-label="Page navigation conatiner"></nav>
    <ul class="pagination justify-content-center">
      {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
      {% endif %}
      {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

      {% endif %}
    </ul>
    </nav>
  {% endif %}
  
{% endblock content %}

